

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;


}


body{

  display: flex;
  justify-content: center;

  min-height: 100vh;
  background-color: #97a2a2;



}

#dropdown{

  padding-top: 200px;

  font-size: 24px;
  cursor: pointer;

  width: 400px;





}




.dropdown_menu li {

  list-style: none;
  padding: 10px 10px;


}

.dropdown_menu li:hover {

  background-color: rgba(0.25, 0.25, 0.25, 0.25);
  border-radius: 10px;

}





.dropdown_menu {

  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 0px;

  display: block;
  box-shadow: 5px 7px 11px #1a1717;
}



.dropdown_label{

  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 20px;


}



.hide{

  display: none;



}













